{% extends "base.html" %}

{% block title %}studyboard_archive.html{% endblock %}

{% block content %}

<h1>studyboard Archives until {% now "N d, Y" %}</h1>

{% for date in date_list %}
<a href="{% url 'studyboard:studyboard_year_archive' date|date:'Y' %}"
class="btn btn-outline-primary btn-sm mx-1">Year-{{ date|date:"Y" }}</a>
{% endfor %}

<br><br>

<div>
    <ul>
        {% for studyboard in object_list %}
        <li class="h5">{{ studyboard.modify_dt|date:"Y-m-d" }}&emsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ studyboard.get_absolute_url }}"><strong>{{ studyboard.title }}</strong></a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}