{% extends "base.html" %}

{% block title %}studyboard_archive_year.html{% endblock %}

{% block content %}

<h1>studyboard Archives for {{ year|date:"Y" }}</h1>


{% for date in date_list %}
    <li style="display: inline;">
        <a href="{% url 'studyboard:studyboard_month_archive' year|date:'Y' date|date:'m' %}"
        class="btn btn-outline-primary btn-sm mx-1">{{ date|date:"F" }}</a>
{% endfor %}

<br><br>

<div>
    <ul>
        {% for studyboard in object_list %}
        <li class="h5">{{ studyboard.modify_dt|date:"Y-m-d" }}&emsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ studyboard.get_absolute_url }}"><strong>{{ studyboard.title }}</strong></a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}